// Colors
$dark-grey: #333333; // Placeholder for "Dark Grey"
$blue-grey: #859DAA;
$teal-blue: #17709A;
$olive-green: #838132;
$dark-blue: #29317B;
$teal-green: #10726B;
$purple: #972685;
$lime-green: #91BC3D;
$orange-yellow: #F9B233;

// Semantic Assignments
$primary-color: $teal-blue;
$secondary-color: $orange-yellow;
$text-color: $dark-grey;
