// Colors
$c_dark-grey: #5C737E;
$c_blue-grey: #859DAA;
$c_teal-blue: #17709A;
$c_olive-green: #838132;
$c_dark-blue: #29317B;
$c_teal-green: #10726B;
$c_purple: #972685;
$c_lime-green: #91BC3D;
$c_orange-yellow: #F9B233;

// Semantic Assignments
$primary-color: $c_teal-blue;
$secondary-color: $c_orange-yellow;
$text-color: $c_dark-grey;
