// Colors

/* 
dark-grey : Dark Grey
blue-grey : Blue Grey
teal-blue : Teal Blue
light-blue : Light Blue
olive-green : Olive Green
dark-blue : Dark Blue
teal-green : Teal Green
purple : Purple
lime-green : Lime Green
orange-yellow : Orange Yellow
black : Black 
*/



$c_dark-grey: #5C737E;
$c_mid-grey: #708D9B;
$c_blue-grey: #859DAA;
$c_blue-grey-light: #B0C4CE;
$c_teal-blue: #17709A;
$c_light-blue: #F0F5F7;
$c_olive-green: #838132;
$c_dark-blue: #29317B;
$c_teal-green: #10726B;
$c_purple: #972685;
$c_lime-green: #91BC3D;
$c_orange-yellow: #F9B233;
$c_black: #060C1D;

// Fonts
$font-primary: 'Outfit', sans-serif;

// Semantic Assignments
$primary-color: $c_teal-blue;
$secondary-color: $c_orange-yellow;
$text-color: $c_black;
$header-color: $c_dark-blue;